<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">TIY</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Employees <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/employees">Employees</a></li>
                <li><a href="/new">Add an employee</a></li>
              </ul>
            </li>
          </ul>
          <form action="/searched" method="get" class="navbar-form navbar-right">
            <div class="form-group">
              <input type="search" name="search" class="form-control" placeholder="Search">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
            <img src="/images/The Iron Yard Logo.png" alt="TIY logo" height="40px" width="40px">
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <div class="panel panel-success">
        <div class="panel-heading">Employees. Click to see an individual employee</div>
        <table class="table table-striped">
          <thead>
            <th>#</th>
            <th>name</th>
            <th>phone</th>
            <th>address</th>
            <th>position</th>
            <th>salary</th>
            <th>github account</th>
            <th>slack account</th>
          </thead>
          <tbody>
            <% @employees.each do |employee| %>
            <tr>
              <td><%= employee.id %></td>
              <td><a href="/employee_show?id=<%= employee.id %>"><%= employee.name %></td>
              <td><%= employee.phone %></td>
              <td><%= employee.address %></td>
              <td><%= employee.position %></td>
              <td><%= employee.salary %></td>
              <td><%= employee.github %></td>
              <td><%= employee.slack %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="well-lg text-center">
        <a class="btn btn-success btn-lg" href="/new" role="button">Add Employee</a>
      </div>
    </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
